html{ font-size: 100%
}

body{background-color: green;

}

header {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0 10px;
}

a.menu-trigger {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
a.menu-trigger {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
a.menu-trigger a:hover {
    background-color: blue;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

@media screen (max-width: 700px){

  header{
    display: none;
  }

    menu-trigger {
      display: none;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }


    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}

nav ul li {
    display: block;
    border-top: 1px #79896d solid;
}

nav a {
    color: #f8ecc2;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

h1{font-family: 'Fredericka the Great', cursive;
  text-align: center;
  background: purple;
}

h2{font-family: 'Fredericka the Great', cursive;
  text-align: center;
  background: purple;
}

p{font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  color: orange;
  max-width: 1400px;
}

img{
  margin:auto;
  border: none;
}

img.flatlands{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  width: 450px;
  max-width: 100%;
  max-height: 450px;
}

.media {
   min-width: 0;
   margin: 5px;
}
img {

 }

ul{
  text-align:center;
  border: 2in;
  border-color: orange;
  list-style: none;
  display: flex;
  max-width: 300px;
}

li{
  font-family: 'PT Serif', serif;
  border:3em;
  background-color: black;
}

li.astronaut{
  display: grid;
}

div{
  text-align: center;
}

li.flatlands{
  display: grid;
}

.youtube{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}
.cards {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 2fr 1fr;

    grid-gap: 20px;
    gap: 20px;
    /*grid-column-gap: 10px;
    grid-row-gap: 25px; */
}

.cards li {
    background-color: blue;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

p.flatlands{
  height: 300px;
  width:500px;
  display: flex;
}

#nav {
    padding: 0;
	list-style-type: none;
  display: flex;
flex-direction: row;
flex-wrap: wrap;
display: grid
}

#nav li {
    margin: 15px;
    padding: 15px;
	border-bottom: 1px solid #ccc;
	text-decoration: none;

}

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #98bf21;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 2px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #7a991a;
}

#container{
  width: 90%;
  background-color: blue;
}

#picture{
  style="width:100%;" /* Safari and Chrome */
    -moz-transform: rotate(90deg);   /* Firefox */
    -ms-transform: rotate(90deg);   /* IE 9 */
    -o-transform: rotate(90deg);   /* Opera */
    transform: rotate(90deg);
}

#email{
  font-style:italic;
}

#otheremail{
  font-style: italic
}

#red{
  color: red
}

#blue{
  color: blue
}

#footer{
  font-size: .33rem;
  background-color: teal;
  color: black
}
